<h2 class="reservation-show-title">Informations de réservation</h2>

<% if reservation.status == "Pending" && other == "Propriétaire" %>
  <%= link_to reservation_path(@reservation), id: "annuler-reservation", data: { turbo_method: :delete, turbo_confirm: "Annuler la réservation ?" } do %>
    <i class="fa-solid fa-circle-xmark"></i>
  <% end %>
<% end %>
</div>

<div class="reservation-show-owner">
  <h5 class="mt-5 mb-5"><%= other %> - <span class="gold-text"><%= user.first_name.capitalize %> <%= user.last_name.capitalize %></span></h5>

  <div class="reservation-show-owner-coordinates">

    <div class="reservation-show-owner-text">
      <h6><i class="fa-solid fa-envelope"></i></h6>
      <% if user.phone_number %>
        <h6><i class="fa-solid fa-phone"></i></h6>
      <% end %>
    </div>
    <div class="reservation-show-owner-values">
      <h6 class="gold-text">  <%= user.email %></h6>
      <% if user.phone_number %>
        <h6 class="gold-text">  <%= user.phone_number %></h6>
      <% end %>
    </div>
  </div>
</div>
