<h2 class="reservation-show-title">Informations de réservation</h2>

<% if reservation.status == "Pending" && other == "Propriétaire" %>
  <%= link_to "Annuler", reservation_path(@reservation), class: "btn btn-danger", data: { turbo_method: :delete, turbo_confirm: "Annuler la réservation ?" } %>
<% end %>
</div>

<div class="reservation-show-owner">
  <h5><%= other %> : <%= user.first_name %> <%= user.last_name %></h5>

  <h5>Coordonnées :</h5>
  <div class="reservation-show-owner-coordinates">

    <div class="reservation-show-owner-text">
      <h6>Mail</h6>
      <% if user.phone_number %>
        <h6>Tel</h6>
      <% end %>
    </div>
    <div class="reservation-show-owner-values">
      <h6> : <%= user.email %></h6>
      <% if user.phone_number %>
        <h6> : <%= user.phone_number %></h6>
      <% end %>
    </div>
  </div>
</div>
