<% car = @reservation.car %>
<% color = "danger" if @reservation.status == "Rejected" %>
<% color = "success" if @reservation.status == "Accepted" %>
<% color = "warning" if @reservation.status == "Pending" %>

<div class="reservation-show-container">

  <div class="reservation-show-info">

    <div class="reservation-show-info-header">
      <% if current_user.id != car.user_id %>
        <% user = car.user %>
        <% other = "Propriétaire" %>
      <% elsif current_user.id == car.user_id %>
        <% user = User.find(@reservation.user_id) %>
        <% other = "Locataire" %>
      <% end %>

      <%= render "user_information_reservation",
          user: user,
          reservation: @reservation,
          other: other %>

    <div class="reservation-show-dates">
      <div class="reservation-show-date-text">
        <h5>Date de début</h5>
        <h5>Date de fin</h5>
      </div>
      <div class="reservation-show-date-value">
        <h5><%= @reservation.start_date.strftime('%d %b, %Y')%></h5>
        <h5><%= @reservation.end_date.strftime('%d %b, %Y') %></h5>
      </div>
    </div>

    <div>
      <h5 class="bg-<%= color %> reservation-show-status"><%= @reservation.status %></h5>
    </div>

    <%= render "confirm_reservation", reservation: @reservation, other: other %>

  </div>

  <div class="reservation-show-car">
    <%= render "cars/car_card_link", car: car %>
  </div>

</div>

<% if @reservation.status == "Accepted" && @reservation.end_date <= Date.today %>
<div class="container mb-5">
  <div class="row">
    <div class="col-6">
      <%= render "reviews/form", reservation: @reservation, review: @review %>
    </div>
    <div class="col-6">
      <h1>Avis</h1>
      <ul class="list-group">
        <% @reservation.reviews.each do |review| %>
          <li class="list-group-item">
          <%= review.content %>
          <% Review::AUTHORIZED_RATINGS.each do |number| %>
            <i class="fa<%= (number > review.rating) ? 'r' : 's' %> fa-star"></i>
          <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<% else %>
<% end %>
