<!-- app/views/cars/index.html.erb -->
<h1>Liste des voitures</h1>

<div class="cars-container">
  <% @cars.each do |car| %>
    <div class="car-card">
      <%= image_tag car.photo.attached? ? car.photo : 'default_car.jpg', alt: car.brand, class: "car-image" %>
      <h2><%= car.brand %> - <%= car.car_model %></h2>
      <p><strong>Localisation :</strong> <%= car.car_location %></p>
      <p><strong>Prix de location :</strong> <%= number_to_currency(car.rent_price, unit: "€") %> / jour</p>
      <a href="<%= car_path(car) %>" class="btn">Voir les détails</a>
    </div>
  <% end %>
</div>
<a href="<%= new_car_path %>" class="btn btn-primary">Ajouter une voiture</a>
