<div class="car-reservation-container">
  <div class="car-show-container">
    <% if @car.photo.attached? %>
      <%= image_tag @car.photo, class: "car-image" %>
    <% else %>
      <%= image_tag 'default_car.jpg', class: "car-image" %>
    <% end %>

    <div class="car-details">
      <h1 class="car-title"><%= @car.brand %> - <%= @car.car_model %></h1>
      <p class="car-location"><strong>Localisation :</strong> <%= @car.car_location %></p>
      <p class="car-price"><strong>Prix :</strong> <%= number_to_currency(@car.rent_price, unit: "€") %>/jour</p>
      <p class="car-kilometers"><strong>Kilométrage :</strong> <%= @car.kilometers %> km</p>
      <p class="car-year"><strong>Année de sortie :</strong> <%= @car.release_year %></p>
    </div>

    <%= link_to cars_path, class: "back-arrow" do %>
     <i class="fa-solid fa-arrow-left"></i> Retour
    <% end %>
  </div>

  <% if @car.user_id != current_user.id %>
    <div class="reservation-form">
      <%= render "reservations/reservation_form", reservation: @reservation, car: @car %>
    </div>
  <% end %>
</div>
