<div class="car-reservation-container">
  <div class="car-show-container">
    <% if @car.photo.attached? %>
      <%= image_tag @car.photo, class: "car-image" %>
    <% else %>
      <%= image_tag 'default_car.jpg', class: "car-image" %>
    <% end %>

    <div class="car-details">
      <h1 class="car-title gold-text"><%= @car.brand %> - <%= @car.car_model %></h1>
      <p class="car-location"><i class="fa-solid fa-location-dot"></i>  <span class="gold-text ms-3"><%= @car.car_location %></span></p>
      <p class="car-price"> <i class="fa-solid fa-euro-sign"></i> <span class="gold-text ms-3"><%= number_to_currency(@car.rent_price, unit: "") %></span> / jour</p>
      <p class="car-kilometers"><i class="fa-solid fa-road"></i> <span class="gold-text ms-2"><%= @car.kilometers %></span> km</p>
      <p class="car-year"> Fabriquée en <span class="gold-text"><%= @car.release_year %></span></p>
    </div>

    <%= link_to cars_path, class: "back-arrow" do %>
     <i class="fa-solid fa-arrow-left"></i> Retour
    <% end %>
  </div>

  <% if @car.user_id != current_user.id %>
    <div class="reservation-form">
      <%= render "reservations/reservation_form", reservation: @reservation, car: @car %>
    </div>
  <% end %>
</div>
