<nav class="my-navbar">
  <div class="application-logo">
    <%= link_to cars_path do %>
      <strong>CAR-BnB</strong>
    <% end %>
  </div>
  <% if user_signed_in? %>
    <% if false %>
      TODO : Il faut trouver un moyen d'afficher le bienvenue seulement
      une seule fois, et que ça apparaisse en tant que message subtile, je crois
      que c'est possible via une méthode dans le controller
    <% end %>
    <%# <p>Bienvenue, <%= current_user.email !</p>%>
    <div class="authentication-btns">
      <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "my-btn btn-danger" %>
    </div>
  <% else %>
    <div class="authentication-btns">
      <%= link_to "Connexion", new_user_session_path, class: "my-btn btn-primary mt-0" %>
      <%= link_to "S'inscrire", new_user_registration_path, class: "my-btn btn-secondary mt-0" %>
    </div>
  <% end %>
</nav>
