<!DOCTYPE html>
<html>
  <head>
    <title>AirbnbCars</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <% if user_signed_in? %>
    <p>Bienvenue, <%= current_user.email %>!</p>
    <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "btn btn-danger" %>





  <% else %>
    <%= link_to "Connexion", new_user_session_path, class: "btn btn-primary" %>
    <%= link_to "S'inscrire", new_user_registration_path, class: "btn btn-secondary" %>
  <% end %>

  <body>
    <%= yield %>
  </body>
</html>
